
 
 #start {
    border-radius: 5px;
    position:absolute;
    height: 50px;
    width: 100px;
    bottom: 45%;
    right: 39%;  
    font-size: 2.5em;
    text-align: center;
    background-color: lightgray;
    font-family: 'Roboto', sans-serif;;
  }

  #score {
    border-radius: 5px;
    position:absolute;
    height: 50px;
    width: 50px;
    bottom: 45%;
    left: 62%;
    text-align: center;
    font-size: 2.5em;
    background-color: lightgray;
    font-family: 'Roboto', sans-serif;;
  }

  #highestScore {
    position:absolute;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    bottom: 45%;
    right: 64.8%;
    text-align: center;
    font-size: 2.5em;
    background-color: lightgray;
    font-family: 'Roboto', sans-serif;;
  }

  #statusLight {
    position:absolute;
    bottom: 35%;
    left: 46%;
    width: 20px;
    height: 20px;
    background:red;
    border: rgba(226, 211, 211, 0.631);
    border-style: solid;
    border-width: 3px;
    border-radius: 50%;
  }
  

  
  #blueCircle {  
    background-image: radial-gradient(ellipse at 50px 10px , #ffffff 0%, #fff 5%, #00ff00 100%);
    border-radius: 50%;
    /* REFERENCE: https://stackoverflow.com/questions/33359979/create-a-glossy-light-effect-using-css 
     Code reused/repurposed from answerer m4n0 for the background property*/
    background: radial-gradient(ellipse at 40px 10px , #ffffff 0%, #fff 5%, #4ca9f0 100%);
    height: 180px;
    width: 180px;
    position: absolute;
    bottom: -10%;
    left: 80%;
    border-style: solid;
    border-width: 10px;
    margin-top: -30px;
    margin-left: -50px;
    margin: auto;
    margin-top: 60px;
    
  }
  
  #greenCircle {
   
    border-radius: 50%;
    /* REFERENCE: https://stackoverflow.com/questions/33359979/create-a-glossy-light-effect-using-css 
     Code reused/repurposed from answerer m4n0 for the background property*/
    background: radial-gradient(ellipse at 40px 10px , #ffffff 0%, #fff 5%, #00ff00 100%);
    height: 180px;
    width: 180px;
    position: absolute;
    bottom:70%;
    right: 80%;
    border-style: solid;
    border-width: 10px;
    margin-top: -30px;
    margin-left: -50px;
    margin: auto;
    margin-top: 60px;
    
  }
  
  #yellowCircle {
    border-radius: 50%;
     /* REFERENCE: https://stackoverflow.com/questions/33359979/create-a-glossy-light-effect-using-css 
      Code reused from answerer m4n0 for the background property*/
    background: radial-gradient(ellipse at 40px 10px , #ffffff 0%, #fff 5%, #f3ff0c 100%);
    height: 180px;
    width: 180px;
    position: absolute;
    bottom: -10%;
    right: 80%;
    border-style: solid;
    border-width: 10px;
    margin-top: -30px;
    margin-left: -50px;
    margin: auto;
    margin-top: 60px;
    
  }
  
  #redCircle {
    border-radius: 50%;
     /* REFERENCE: https://stackoverflow.com/questions/33359979/create-a-glossy-light-effect-using-css
        Code reused/repurposed from answerer m4n0 for the background property*/
    background: radial-gradient(ellipse at 40px 10px , #ffffff 0%, #fff 5%, #d53e2d 100%);
    height: 180px;
    width: 180px;
    position: absolute;
    bottom: 70%;
    left: 80%;
    border-style: solid;
    border-width: 10px;
    margin-top: -30px;
    margin-left: -50px;
    margin: auto;
    margin-top: 60px;
    
  }
  
  #largeCircle {
    position:absolute;
    top:25%;
    left: 38%;
    width: 400px;
    height: 400px;
    background:#2b2a2a;
    
    border-radius: 50%;
    border: black;
    border-style: solid;
    border-width: 15px;
  }
  
  